body{
    font-family: 'Popins'sans-serif;
    margin: 0;
}
.name{
    color: orange;
}
h1{
    font-size: 50px;
}
.flexible-container{
    display: flex;
    margin-bottom: 80px;
    
}
section .half-width{
    width: 50%;
    padding: 3%;
}
.half-width img{
    width: 80%;
    margin-top: 30px;
}
.hire-button{
    display:inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
}
.sec-1{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.sec-2{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
   
}
p{
    color: gray;
    font-size: 18px;
   
}
.experience-item h3{
    color: orange;
}
.margin-left{
    margin-left: 30px;
}
.experience-item h1{
    font-size: 50px;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 5px 5px 30px black;
    padding: 25px 30px;
    border-radius: 5px;
    
}
#border{
    border-left:5px solid tomato;
}
#border1{
    border-left:5px solid blue;
}
